@{
    ViewData["Title"] = "Upgrade Account";
}

<section class="w-100 p-4 p-xl-5" style="background-color: skyblue; border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;">
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form>

                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: skyblue;"></i>
                                    <span class="h1 fw-bold mb-0">Time Tracking System</span>
                                </div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">If you have premium account , you have everything 🎶</h5>

                                

                                <div class="pt-1 mb-4">
                                    <a asp-controller="Payment" asp-action="Index" class="btn btn-dark btn-lg btn-block" type="button">Update Account to Premium 💕 </a>
                                </div>

                               
                                <a href="#!" class="small text-muted">Terms of use.</a>
                                <a href="#!" class="small text-muted">Privacy policy</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>